---
import Header from './Header.astro';
import Hero from './Hero.astro';
import Stats from './Stats.astro';
import Transparency from './Transparency.astro';
import Craft from './Craft.astro';
import Collaborate from './Collaborate.astro';
import Footer from './Footer.astro';
---

<Header />
<main class="grow pt-28">
  <Hero />
  <Stats />
  <Transparency />
  <Craft />
  <Collaborate />
</main>
<Footer />
