---
import Header from './Header.astro';
import Hero from './Hero.astro';
import Stats from './Stats.astro';
import Transparency from './Transparency.astro';
import LastNews from './LastNews.astro';
import Craft from './Craft.astro';
import Collaborate from './Collaborate.astro';
import Contact from './Contact.astro';
import Footer from './Footer.astro';
---

<Header />
<main id="main-content" class="grow pt-28">
  <Hero />
  <Stats />
  <Transparency />
  <Craft />
  <LastNews />
  <Collaborate />
  <Contact />
</main>
<Footer />
